header {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-color:#00a2a8;
  background-image: url('../images/dark-stripes-light.png');
} 

h2 {
  font-weight: 400;
  margin: 0;
}