header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-color:#00a2a8;
  background-image: url('../images/dark-stripes-light.png');
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
} 

h2 {
  font-weight: 300;
  margin: 0;
}

.first-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}