/* Navbar styles */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#00a2a8;
  background-image: url('../images/dark-stripes-light.png');
  padding: 0 1.5em;
  z-index: 1;
}

nav span {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  font-size: larger;
} 

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  cursor: pointer;
  font-size: larger;
}

/* Desktops: starting at 1024px */
@media only screen and (min-width: 1024px) {
  nav {
    background-color:	#4056A1;
    background-image: none;
    height: 7.5rem;
  }
}

/* Tablets: starting at 768px */
@media only screen and (min-width: 768px) {
  nav {
    height: 5rem;
  }
}
  