section.tweets {
  width: 100%;
  padding: 1rem 0;
}

article.tweet {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 5px solid #545149;
  padding: 0;
}

article.tweet header {
  margin-top: 0.8rem;
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 1.5rem;
  padding: 2.25rem 0.3rem;
  background-image: none;
}

article.tweet header div {
  padding-left: 0.6rem;
  display: flex;
}

article.tweet header img {
  opacity: 0.6;
}

article.tweet header span {
  padding-right: 0.6rem;
  padding-bottom: 0.9375rem;
}

article.tweet h3.userName {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

article.tweet span.userId {
  color: #4056A1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  opacity: 0;
  font-weight: 300;
}

article.tweet:hover span.userId {
  opacity: 0.7;
}

article.tweet p {
  margin: 1.25rem 1.25rem 0.3125rem 1.25rem;
  font-weight: 300;
  font-size: 1.5rem;
  padding-bottom: 1.5625rem;
  color: #545149;
  cursor: text;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 0 0.8125rem 0 0.8125rem;
  border-top: 4px solid #545149;
}

article.tweet footer > p {
  font-size: 1rem;
  margin: 6px 0 13px 10px;
  border: none;
}

article.tweet .tweet-buttons {
  color: #4056A1;
  font-size: 0.9rem;
  padding: 5px 20px 0 20px;
  margin-bottom: 0;
}

article.tweet .tweet-buttons i {
  padding-right: 0.3125rem;
}    

/* Hover effects */
article.tweet:hover {
  box-shadow: 8px 8px 5px #829bed;
  transition: box-shadow 0.3s ease-in-out;
}

article.tweet:hover h3.userName {
  font-weight: 400;
}

article.tweet:hover p {
  font-weight: 400;
}

article.tweet:hover .tweet-buttons {
  font-size: 1rem;
}

article.tweet:hover header img {
  opacity: 1;
}

article.tweet i:hover {
  cursor: pointer;
}

