* {
  margin: 0;
  padding: 0;
}

div.tweet {
  margin: 40px 0 10px 0;
  border: 5px solid #545149;
}

div.tweet header {
  margin-top: 0px;
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  padding: 10px;
  background-image: none;
}

div.tweet header div {
  padding-left: 15px;
  display: flex
}

div.tweet header img {
  border-radius: 5px;
  float: left;
}

div.tweet header span {
  padding-right: 15px;
  padding-bottom: 15px;
}

div.tweet h3.userName {
  margin-top: 8px;
  margin-left: 15px;
  color: #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

div.tweet span.userId {
  color: #4056A1;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 0.7;
  font-weight: 300;
}

div.tweet p {
  margin: 20px 20px 5px 20px;
  font-weight: 400;
  padding-bottom: 25px;
  color: #545149;
  cursor: text;
}

div.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-top: 4px solid #545149;
}

div.tweet footer > p {
  font-size: 0.7em;
  margin: 6px 0 13px 10px;
  border: none;
}

div.tweet .tweet-buttons {
  color: #4056A1;
  font-size: 16px;
  padding: 5px 20px 0 20px;
  margin-bottom: 0;
}    

div.tweet .tweet-buttons fav-icon {
  margin-left: 6px;
  font-weight: 300;
  cursor: pointer;
}